@import url('https://fonts.googleapis.com/css?family=Montserrat');

@keyframes color-change {
    from {
        background-color: var(--back-color);
    }
    to {
        background-color: var(--comp-color);
    }
}

body, html {
    font-family: Montserrat;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    --main-color: rgb(101, 213, 174);
    --comp-color: rgb(255, 207, 102);
    --back-color: rgb(213, 90, 103);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    background: linear-gradient(#585857, #484a4d);
    border-radius: 10px;
    width: 400px;
    padding: 25px;
    margin-bottom: 10px;
    position: relative;
}

.transition {
    transition: 0.3s ease-in-out ;
}

#list div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #cccccc;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    margin-bottom: 5px;
    height: 52px;
    width: 330px;
    padding: 10px;
    font-size: 0.9em;
}